.idea/inspectionProfiles/profiles_settings.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/python_test.iml
.idea/workspace.xml
.idea
DjangoBase/.idea/inspectionProfiles/profiles_settings.xml
DjangoBase/.idea/deployment.xml
DjangoBase/.idea/DjangoBase.iml
DjangoBase/.idea/misc.xml
DjangoBase/.idea/modules.xml
DjangoBase/.idea/remote-mappings.xml
DjangoBase/.idea/vcs.xml
DjangoBase/.idea/workspace.xml
DjangoBase/.idea
db.sqlite3